* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background: #000;
}

html,
body {

    margin: 0;
    font-family: sans-serif;
    background-image: url(./fundo.png);
    color: white;
    overflow-x: hidden;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* topo */

.topo {
    align-items: center;
}


.material-symbols-outlined {
    color: #d6b86a;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}



/*produto*/


.foto-container {
    position: relative;
}

.foto-prato {
    width: 100%;
    display: block;
    border-radius: 20px;
    height: 250px;
    object-fit: cover;
}

.logo-sushi {
    position: absolute;

    bottom: 1px;
    left: 1px;

    width: 110px;

    border-radius: 50%;

    background: none;

    padding: 5px;

    z-index: 10;
}

.info {
    padding: 20px;
    margin-top: -10px;
}

.info h2 {
    color: #d6b86a;
    margin-bottom: 5px;
}

.info p {
    color: rgba(255, 255, 255, 0.671);
    font-size: 14px;
    line-height: 1.2;
}

.preco {
    
    font-size: 20px;
    color: #d6b86a;
    font-weight: bold;
    margin-top: 9px;
    display: block;
}

/*adicionais*/

.adicionais {
    padding: 20px;
    margin-top: -5px;
    border-radius: 12px;
    border: 1px solid rgba(214, 183, 106, 0.268);
}

.text {
    margin-bottom: 4%;
}

.adicionais h3 {
    font-size: 15px;
    color: #d6b86a;
    margin-bottom: 4px;
    font-weight: 600;
    margin-left: 5%;
}

.adicionais p {
    margin-left: 5%;
    line-height: 1.2;
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.622);
}

.extra-item {
    background: rgba(30, 28, 28, 0.303);
    border: 1px solid #2a2c2ef3;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 5px;
    border-bottom: 1px solid #222;
    margin-bottom: 6px;
}

.extra-item span {
    color: #d6b86a;
    margin-right: 3%;
    font-weight: bold;
    font-size: 15px;
}

input {
    appearance: none;

    width: 20px;
    height: 20px;

    background: transparent;
    border: 1px solid #d6b76a55;

    border-radius: 4px;
}

.input p {
    font-size: 12px;
}

.opcao {
    display: flex;
    gap: 50px;
}

.opcao h2 {
    color: rgba(255, 255, 255, 0.855);
    font-size: 15px;
    font-weight: 600;
    justify-content: center;
}

/*icone*/

.icone{
    color: #d6b86a;
    font-size: 16px;
}

/*rodape*/

.rodape {
    display: flex;
    position: fixed;
    bottom: 5px;
    left: 0;
    width: 100%;
    align-items: center;
    padding: 0 3%;
    margin-top: 10px;
}

.btn-carrinho {
    position: relative;
    padding: 0 25px;
    align-items: center;
    display: flex;
    gap: 50px;
    justify-content: center;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: transparent;
    color: #111;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    background: linear-gradient(#f0d98c 0%, #e3c06a 50%, #c9a24b 100%);

}

.btn-carrinho h2 {
    position: relative;
    right: 35px;
    font-size: 14px;
    margin: 0;
}

.btn-carrinho p {
    position: absolute;
    right: 40px;
    margin-bottom: -2px;
    font-weight: 550;
    font-size: 15px;
}

.obs {
    padding: 20px;
    color: #d6b86a;
    font-size: 15px;
    font-weight: 600;
    margin-left: 5%;

}

.obs p {
    color: rgba(255, 255, 255, 0.622);
    font-size: 12px;
    margin-top: 5px;
    line-height: 1.2;
    font-weight: 300;
}

.digitar {
    height: 80px;
    padding: 30px;
    background: rgba(44, 44, 44, 0.282);
    border-radius: 12px;
    border: 1px solid rgba(52, 52, 50, 0.81);
    color: rgba(255, 255, 255, 0.622);
    font-size: 12px;
    margin: 8px;
    margin-top: -8px;
}

.topo img {
    width: 120px;

}