* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-family: sans-serif;
    background-image: url(./fundo.png);
    color: white;
    overflow-x: hidden;
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100%;
}

/* topo */

.topo {
    display: flex;
    align-items: center;
    gap: 0;
    padding: 5px;
    background: #111;
}

.topo h1 {
    font-size: 1.5rem;
    color: #c89b3c;
}

/*produto*/

.produto img {
    width: 100%;
    display: block;
    height: 250px;
    margin-bottom: 25px;
}

.info {
    padding: 20px;
    margin-top: -30px;
}

.info h2 {
    color: #c89b3c;
    margin-bottom: 5px;
}

.info p {
    color: #ccc;
    font-size: 14px;
    line-height: 1.2;
}

.preco {
    bottom: 20px;
    margin-top: 19px;
    font-size: 23px;
    color: #c89b3c;
    font-weight: bold;
}

/*adicionais*/

.adicionais {
    padding: 20px;
    margin-top: -5px;
    border-radius: 12px;
    border: 1px solid rgba(214, 184, 106, 0.2);
}

.adicionais h3 {
    font-size: 17px;
    color: #c89b3c;
    margin-bottom: 20px;
    font-weight: 600;
}

.extra-item {
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid #d6b76a55;
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 5px;
    border-bottom: 1px solid #222;
    margin-bottom: 6px;
}

input {
    appearance: none;

    width: 20px;
    height: 20px;

    background: transparent;
    border: 1px solid #d6b76a55;

    border-radius: 4px;
}

.opcao {
    display: flex;
    gap: 10px;
}

/*rodape*/

.rodape {
    display: flex;
    position: relative;
    bottom: 0;
    gap: 50px;
    width: 99%;
    align-items: center;
    padding: 5px;
}

.btn-carrinho {
    width: 50%;
    height: 55px;
    border: 1px solid rgba(214, 184, 106, 0.3);
    border-radius: 12px;
    background: transparent;
    color: #c89b3c;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.obs {
    padding: 20px;
    color: #c89b3c;
    font-size: 17px;
    font-weight: 600;
}

.obs p {
    color: white;
    font-size: 12px;
    margin-top: 5px;
    line-height: 1.2;
    font-weight: 300;
}

.digitar {
    padding: 30px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 12px;
    border: 1px solid rgba(214, 183, 106, 0.159);
    color: #ccc;
    font-size: 12px;
    margin: 8px;
    margin-top: -8px;
}

.topo img {
    width: 120px;

}

/*botões de adicionar*/

.adicionar {
    position: relative;
    left: 7px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.adicionar button {
    width: 30px;

    height: 30px;

    border-radius: 8px;

    border: 1px solid rgba(214, 184, 106, .4);

    background: none;

    color: #c89b3c;
}